singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions='--nv'

process {
    executor='slurm'
    containerOptions='--bind "/scratch:/scratch" --bind "/nfs:/nfs" --bind "/gpfs:/gpfs"'
    shell = ['/bin/bash', '-ueo', 'pipefail']
    clusterOptions='--account=kitzmanj0'
	}

trace.enabled = true
report.enabled = true
dag.enabled = true
nextflowVersion = '>=19.04.1'

singularity.cacheDir = '/scratch/kitzmanj_root/kitzmanj0/tovar/singularity-cache'

//
// set paths for generic files here
//

